*~
*.so
*.swp
artemislogon.C
thisartemis-crib.sh
c1.png
.venv
.vscode
.clangd
.clang-format
output
install
ridf
rootfile
.vncdisplay
figure/
ana/
build/
*.root
*.png
mwdcb_target/target_X/.png
mwdcb_target/target_Y/.png
mwdcb_target/backup
script/*.png
elastic/*.png
